<app-header>

  <div class="ms-3">

      <button class="m-2" style="text-decoration: none; color: black;" routerLink="/login">Login</button>

    <button class="btn primar me-4 rounded" type="button" (click)="toggleOffcanvas(true)">
      Sopping Bag
    </button>
  </div>

</app-header>

<app-product-cart [productsList]="addedProductsList" (toggleOffcanvas)="toggleOffcanvas($event)"></app-product-cart>

<app-products-catalog (addProductToCart)="addProductToCart($event)"></app-products-catalog>

<app-footer></app-footer>


