<app-header>

  <div class="ms-3">
    <button class="btn primar me-4 rounded" type="button" (click)="toggleOffcanvas(true)">
      Sopping Bag
    </button>
  </div>

</app-header>

<app-product-cart [productsList]="addedProductsList" (toggleOffcanvas)="toggleOffcanvas($event)"></app-product-cart>

<app-products-catalog (addProductToCart)="addProductToCart($event)"></app-products-catalog>

<app-create-product></app-create-product>

<app-login></app-login>
<app-page-not-found></app-page-not-found>
<!-- <router-outlet></router-outlet> -->

<app-footer></app-footer>


