.form-group {
    margin-bottom: 10px;
}

h3 {
    padding-bottom: 0;
}

.card.tittle {
    margin-bottom: 0;
    padding-bottom: 0;
}




@media only screen and (max-width: 600px) {
    .card {
       max-width: 400px;
    }

}
